body{
    background: white !important; 
    font-family: Arial Narrow !important;
    font-size: 1.1rem !important;
}

#bar-menu a{
   font-size: 30px;
   text-align: center;
}

footer{
    background-color: #556277;
    margin-bottom: auto;
    height: 50px;
    text-align: center;
    color: #fff;
}

.card{
    border-bottom: 2px solid rgba(14, 102, 177, 0.87) !important; 
    font-size: 1.3em;
    color: #1d80bd;
    font-weight: normal;
    letter-spacing: normal;
    float: left;
    line-height: 60px;
    margin: 0;
    text-align: center;
    width: 100%;
}


.encabezado{
    padding: 5px 18px;
    background:rgba(0,0,0,.03);
    color: #000;
    font-size: 24px;
    border-bottom: 1px solid #e2e2e2;
    margin: 0;
    display: block;
    border-radius: 5px 5px 0px 0px;
    text-align: left;
    font-size: 30px;
}

.col-md-9{
    margin: 0 auto !important;
}

.col-menu{
    width: auto;
}

.col-menu ul{
    text-align: left;
    font-size: 1rem;
}

.btn-menu{
    text-align: left;
    margin-left: 10px;
}

.btn-menu li{
    margin-left: 10px;
}

.boton{
    width: 200px;
    color: white;
    font-size: 12px;
    padding-top: 80px;
    padding-bottom: 10px;
}

.boton a{
    width: 100px;
    color: white;
    font-size: 14px;
}

#mensaje-bienvenida{
    text-align: center;
    font-size: 1.1rem;
    line-height: 25px;
}

.contenido{
    margin-top: -109px;
}